body{
	background-color: #b5fbac;
	text-align: center;
}
#board{
	border:10px solid #0000ff;
	border-radius: 10px;
	width: 450px;
	height: 450px;
	margin: auto;
}

h1{
	text-align: center;

}

h4{
	text-align: center;
}